#dashboard {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #1976d2;
    text-align: center;
    align-items: center;
    color: #fff;
    padding: 1rem 5rem;

    a {
      cursor: pointer;
      color: #fff;
    }
  }

  .main-container {
    padding: 1rem 5rem;

    .user-details {
      text-align: center;
      padding-top: 1rem;
    }
  }

  button {
    background-color: #1976d2;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
  }

  .empty-message {
    text-align: center;
    color: #757575;
    font-style: italic;
    padding-top: 20px;
  }

  .item{
    margin-bottom: 15px !important;
  }

  img{
    cursor: pointer;
  }
}
::ng-deep .drop-down-menu {
  width: 170px;
}
